.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
    position: relative;
}

.nav-logo {
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}

.nav-content {
    display: flex;
    gap: 80px;
    font-size: 18px;
    list-style: none;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.nav-contact {
    background-color: white;
    border-radius: 50px;
    color: black;
    padding: 10px 38px;
}

li:hover {
    cursor: pointer;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
}


@media (max-width: 768px) {
    .nav {
        margin: 20px 30px;
        flex-wrap: wrap;
        position: relative;
    }

    .hamburger {
        display: flex;
    }

    .nav-content {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #111;
        margin-top: 20px;
        padding: 1rem 0;
        border-radius: 8px;
        position: absolute;
        z-index: 10;
        top: 60px;
    }

    .nav-content.open {
        display: flex;
    }

    .nav-content li {
        padding: 10px 0;
        text-align: center;
    }

    .nav-contact {
        padding: 10px 38px;
        margin: 10px auto;
        background: black;
        color: white;
    }
}